.pacifico-font {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	font-size: 40px;
}

.first-container {
	margin-top: 100px;
}

:target:before { /* ustawia margines kotwicy*/
content:"";
display:block;
height:60px; /* fixed header height*/
margin:-60px 0 0; /* negative fixed header height */
}

small {
	color: grey;
}

a {
	cursor: pointer;
}

div.landscape {
	background-image: url(../img/pizza-1.jpg);
	background-position: center;
	height:  600px;
	margin-top: 25px;
	margin-bottom: 40px;

}

footer.footer {
	background-color: black;
	height: 100px;
	color: white;
	margin-top: 50px;
}

div.foot {
	margin-top: 35px;
}

.main-menu {
	margin-top: 30px;

}

.but {
	background-color: black;
	color: white;
}